include READ.md
include tests
recursive-include schemaorgschemas/templates *
recursive-include schemaorgschemas/docs *
recursive-include schemaorgschemas/Thing *
recursive-include schemaorgschemas/templatetags *